body {
    background-image: url('../assets/walls/selection.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.desc {
    margin-top: 1%;
    font-size: 60px;
}

@media only screen and (max-height:900px) {
    .desc {
        margin-top: 1%;
        font-size: 40px;
    }
}