@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');
@import url('../type/wavehaus/stylesheet.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: block;
    color: white;
    font-family: 'Wavehaus 95';
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 15px;
    margin: 10px;
}

.nodec, .nodec:visited, .nodec:active {
    text-decoration: none;
    color:white;
}